.App {
  text-align: center;
}

.App-logo {
  height: 75%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.leftHalf {
  background-color: #ff9e2c;
  float: left;
  width: 50%;
}
.rightHalf {
  background-color: #b6701e;
  float: left;
  width: 50%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
